h1 {
    background-color: aqua;
    text-align: center;
    color: green;
}
.samoyed {
    background-color: darkorange;
    text-align: center;
    color: pink;
}
.in {
    background: peru;
    text-align: center;
    color: saddlebrown;
}
.min {
    background-color: blueviolet;
    text-align: center;
    color: greenyellow;
}